<div class="nav-main">
  <div class="wrap clearfix">
    <a class="nav-home" href="{{ site.directory }}/index.html">
      <img class="nav-logo" alt="" src="{{ site.directory }}/img/logo.png" height="50" width="78">
      <div class="titles">
        <h1><span class="x">X</span> SPECIFICATION</h1>
        <h2>MAKE COMPONENTS MORE POWERFUL</h2>
      </div>
    </a>
    <ul class="nav-site">
      <li><a href="{{ site.directory }}/specs/index.html"{% if page.nav == 'spec'%} class="active"{% endif%}>规范</a></li>
      <!-- <li><a href="#">兼容检测</a></li>
      <li><a href="#">兼容框架</a></li> -->
      <li><a href="https://github.com/fex-team/xspec/issues/new">反馈</a>
      <li><a href="http://github.com/fex-team/xspec">github</a>
    </ul>
  </div>
</div>